@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(89 148 180);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem 15rem;
}

.navbar-button{
    background-color: rgb(226 151 102);
    margin: 10px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 12px;
}

.brand-logo{
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
    text-shadow: 2px 2px black;
    box-shadow: 0px 3px rgb(156 86 46);
}

.connect-wallet{
    font-family: "Playfair Display", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(114 52 13);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-logo:hover, .connect-wallet:hover{
    cursor: pointer;
}

.navbar-button *{
    background-color: rgb(226 151 102);
}

.navbar-button img{
    width: 30px;
    height: 30px;
}

/* responsiveness */
@media screen and (max-width: 1400px){
    .navbar{
        margin: 2rem 10rem;
    }
}

@media screen and (max-width: 1200px){
    .navbar{
        margin: 2rem 6rem;
    }
}

@media screen and (max-width: 650px){
    .navbar{
        flex-direction: column;
        margin: 2rem 8rem;
        align-items: center;
        margin-bottom: 7rem;
    }

    .navbar div{
        width: 60%;
    }
}

@media screen and (max-width: 540px){
    .navbar{
        margin: 2rem 4rem;
        margin-bottom: 7rem;
    }
}

@media screen and (max-width: 470px){
    .navbar{
        margin: 2rem 2rem;
        margin-bottom: 7rem;
    }
}
